*.pyc
Outputs/*
examples/Example_1/Outputs/my_experiment/*
examples/Example_2/Outputs/*
examples/Example_2/my_config.txt
examples/Example_2/.ipynb_checkpoints/*.ipynb
examples/Norcia_Example/Outputs/*
examples/strike-slip-example/output/*
examples/Example_Mogi/Outputs/*
PyCoulomb/__pycache__/*
.idea*
test/example_*.txt
test/*.txt
test/*.png
dist/*
Elastic_stresses_py.egg-info/*
build/*
*.pptx
*.cpt
how_to_make_docs.txt
docs/*
